
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.modal {
  display: none;
  border: 1px solid black;
  padding: 10px;
  background-color: #eee;
  width: 250px;
  margin-top: 20px;
}

footer {
  margin-top: auto;
  background-color: #ddd;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

